.sidebar {
  width: 260px;
  padding: 15px 5px;
  position: fixed;
  height: 100%;
}

.sidebar {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.inWork {
  position: relative;
}
.inWork::after {
  content: "Скоро";
  font-size: 11px;
  position: absolute;
  border: 1px solid var(--current-color);
  padding: 5px;
  border-radius: 5px;
  right: 10px;
  top: 0;
  height: fit-content;
  bottom: 0;
  margin: auto 0;
}
.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.section__name {
  color: var(--medium-text-color);
  font-size: 12px;
  padding-left: 16px;
  text-transform: uppercase;
  margin-bottom: 16px;
  margin-top: 16px;
  font-weight: 500;
}

.section__icon > * {
  stroke: var(--medium-text-color);
  width: 12px;
  height: 12px;
}
.section__icon {
  transform: scale(1.3);
  margin-left: 3px;
}

.section__item {
  display: flex;
  position: relative;
  color: var(--medium-text-color);
  text-decoration: none;
  font-size: 14px;
  gap: 15px;
  align-items: center;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.2s ease;
}
.section__item:hover {
  background-color: var(--hover-color);
  color: var(--light-text-color);
}
.section__item:hover > svg > * {
  stroke: var(--light-text-color);
}
.section__item:hover > svg {
  transform: scale(1.65);
}
.exit {
  width: 14px !important;
  height: 14px !important;
}
.exit > path {
  fill: var(--medium-text-color);
}
.user {
  width: 14px !important;
  height: 14px !important;
  fill: var(--medium-text-color);
}
.user > * {
  stroke: var(--medium-text-color);
}
.section__item:hover > .user,
.section__item:hover > .exit {
  transform: scale(1.35);
}
