.audioWrap {
  position: fixed;
  bottom: 0;
  transition: all 0.3s ease;
  left: 0;
  right: 0;
  background-color: var(--wrapper-color);
  width: 100%;
  max-width: 675px;
  margin: 0 auto;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 75px;
  border-radius: 10px;
  z-index: -1;
  border: 1px solid var(--border-color);
  transform: translate(0, 0);
}
.audioWrapShow {
  bottom: 20px;
  z-index: 1;
}
.audioPreview {
  border-radius: 10px;
  object-fit: cover;
}

.audioInfo {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-left: 5px;
}
.audioName {
  font-size: 0.8rem;
}
.audioAuthor {
  font-size: 0.7rem;
  color: var(--medium-text-color);
}

.audioControls {
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  min-height: 100%;
  padding: 0 20px;
  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: calc(100% - 20px);
    bottom: 0;
    top: 0;
    margin: auto 20px auto 0;
    left: 0;
    background-color: var(--medium-text-color);
  }
  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: calc(100% - 20px);
    bottom: 0;
    top: 0;
    margin: auto 0 auto 20px;
    right: 0;
    background-color: var(--medium-text-color);
  }
}
.audioControls > * {
  cursor: pointer;
}

.audioLine {
  display: flex;
  gap: 5px;
  padding: 0 10px;
}
.audioTime {
  font-size: 0.8rem;
}

.audioRange {
  accent-color: var(--current-color);
}

.audioBtn {
  padding: 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background-color: var(--hover-color);
  }
}
.hidden {
  display: none;
}
