:root {
  --primary-color: rgb(79, 70, 229);
  --light-green: rgba(22, 163, 74, 0.1);
  --green-color: rgb(22, 163, 74);
}
[data-theme="light"] {
  --background-color: #ffffff;
  --gray-color: rgb(160, 160, 160);
  --card-BG-color: rgb(255, 255, 255);
  --border-color: rgb(211, 211, 211);
  --text-color: #000;
  --hover-card: rgb(238, 238, 242);
}
[data-theme="dark"] {
  --background-color: #141518;
  --gray-color: rgb(160, 160, 160);
  --card-BG-color: rgb(24 24 27);
  --border-color: rgb(39 39 42);
  --text-color: #fff;
  --hover-card: rgb(24 24 27);
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  /* background-image: url("../../public/"); */
  overflow-x: hidden;
  backdrop-filter: blur(55px);
  object-fit: contain;
}

.container {
  max-width: 1630px;
  color: var(--white-color);
  padding: 0 15px;
  overflow: hidden;
  margin: 0 auto;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 160px;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
@media screen and (max-width: 1000px) {
  .main {
    padding: 2rem;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-decoration: none;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: var(--white-color);
}
