.bg {
  background-color: var(--background-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  color: var(--dark-light-text-color);
  height: 100vh;
}
.loading {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  position: absolute;
  left: 0;

  right: 0;
  margin: auto;
  border: 1px solid var(--border-color);
  border-radius: 50%;
}
.border1 {
  top: 33%;
  width: 33%;
  height: 33%;
}
.border2 {
  width: 66%;
  height: 66%;
  animation: animeBorder2 12s infinite normal;
}
.border3 {
  width: 33%;
  height: 33%;
  animation: animeBorder3 12s infinite normal;
}
@keyframes animeBorder2 {
  0% {
    width: 33%;
    height: 33%;
  }
  50% {
    width: 66%;
    height: 66%;
  }
  100% {
    width: 33%;
    height: 33%;
  }
}
@keyframes animeBorder3 {
  0% {
    width: 33%;
    height: 33%;
  }
  50% {
    width: 99%;
    height: 99%;
  }
  100% {
    width: 33%;
    height: 33%;
  }
}
